<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Habla Conmigo</title>
  <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
  <h1>🗣️ Habla Conmigo</h1>
  <div id="visor-frase">
    <div id="visor-pictogramas"></div>
    <div id="visor-texto"></div>
    <button id="btn-decir" style="margin-top:10px;">🔊 Decir frase</button>
    <button id="btn-borrar" style="margin-top:10px;">🗑️ Borrar todo</button>
  </div>
  <section id="zona-pictogramas"></section>
  <script src="/static/js/app.js"></script>
</body>
</html>
